<link rel="stylesheet" href="/assets/css/font.css">
<link rel="stylesheet" type="text/css" href="/assets/css/post.css">
<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
<link rel="stylesheet" type="text/css" href="/assets/css/home.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/ssbetter.css">
<link type="text/css" rel="stylesheet" href="/assets/css/reward.css">
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/footer.css">
<link rel="stylesheet" href="/assets/css/font.css">
{% if page.favicon %}
<link rel="icon" href={{page.favicon}}>
{% else %}
<link rel="icon" href=/assets/img/fav/post.png>
{% endif %}
