<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="theme-color" content="#323D45">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css">
    {% include css.html %}
</head>
<body>
{% include header.html %}

<div id="content" class="post-content">
    <div id="post-content">
        <h2>{{page.title}}</h2>
        {{ content }}
    </div>

    {% include ds.html %}
</div>

{% include footer.html %}

{% include cnzz.html %}

{% include js.html %}
</body>
</html>
