<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="theme-color" content="#323D45">
    <title>{{page.title}}</title>
    {% include css.html %}
</head>

<body>
{% include header.html %}

<div id="content" class="content">
    <div id="post-content"> {{ content }}</div>

    {% include ds.html %}
</div>

{% include footer.html %}

{% include cnzz.html %}

{% include js.html %}
</body>
</html>
